body{
    margin-top: 0;
    padding: 0;
    margin-left: 0;
    background-color: rgb(10, 10, 10);
    overflow-x: hidden;
}

ol{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    left: 30%;
    top: 10px;
}
li{
    display: flex;
    
}
header a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 10px;
    z-index: 1;
    
}
a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: antiquewhite;
    transition: 0.3s linear;
    box-shadow: 0 0 10px #fff;
}
header a::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 3px;
    background-color: antiquewhite;
    transition: 0.3s linear;
    box-shadow: 0 0 10px #fff;
}
header a:hover::before{
    width: 100%;
}
header a:hover::after{
    width: 100%;
}
.activo{
    color: rgb(173, 100, 241);
}
.activo::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(204, 70, 231);
    transition: 0.3s linear;
    box-shadow: 0 0 10px #fff;
}
.activo::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 3px;
    background-color: rgb(204, 70, 231);
    transition: 0.3s linear;
    box-shadow: 0 0 10px #fff;
    
}
.padre{
    background-color: transparent;
    position: relative;
    left: 10px;
    bottom: 50px;
    animation: mover 4s linear infinite alternate;
    
}
.padre2{
    background-color: transparent;
    position: relative;
    left: 550px;
    bottom: 150px;
    animation: mover 4s linear infinite alternate;
}
@keyframes mover {
    to{
        transform: translateX(200px);
    }
}
.hijo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgb(0, 4, 255) ;
    animation: movi 4s linear infinite alternate;
    border-bottom: 5px solid rgb(4, 0, 255) ;
   
}
.hijo2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgb(4, 0, 255) ;
    border-bottom: 5px solid rgb(4, 0, 255) ;
    animation: movi 4s linear infinite alternate;
}
@keyframes movi{
    to{
        transform: rotate(360deg);
    }
}
.padreimg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    border-bottom: 3px solid #fff;
    position: relative;
    padding-bottom: 50px;
    
}
.flas{
    position: relative;
    bottom: 410px;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, transparent 0% , rgba(0, 0, 0, 0) 100%);
  
    
}
.flas>h3{
    position: relative;
    top: 150px;
    left: 40px;
    font-size: 2em;
    color: #ffffff00;
    
}
.flas>p{
    position: relative;
    top: 150px;
    left: 30px;
    font-size: 1rem;
    color: #ffffff00;
    
}
.img1 figure:hover .flas{
    background: linear-gradient(180deg, transparent 0% , black 100%);
    transition: all 1s linear;
    
}
.img1 figure:hover h3{
    color: #fff;
    transition: all 0.7s linear;
}
.img1 figure:hover p{
    color: #fff;
    transition: all 0.7s linear;
}
.img1:hover img{
   
    transition: 0.5s linear;
}
.padreimg img{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 10px;
   
}

.padreimg figure{
    width: 300px;
    height: 375px;
    background-color: rgb(132, 0, 255);
    border-radius: 10px;

}
.padreimg h2{
    color: aliceblue;
    position: relative;
    left: 100px;
    text-transform: capitalize;
}

.padreimg h4{
    position: relative;
    left: 140px;
    top: 10px;
    color: rgb(255, 255, 255);
}
.padreimg button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    left: 110px;
    background: linear-gradient(90deg ,blue 0% , rgb(132, 0, 255) 100%);
    animation: colo 5s linear infinite alternate;
    background-size: 400% 400%;
    transition: 0.5s linear;
}
@keyframes colo {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.padreimg2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    border-bottom: 3px solid #fff;
    position: relative;
    padding: 50px 0;
}
.flas{
    position: relative;
    bottom: 410px;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, transparent 0% , rgba(0, 0, 0, 0) 100%);
    border-radius: 20px;
    
}
.flas>h3{
    position: relative;
    top: 150px;
    left: 40px;
    font-size: 2em;
    color: #ffffff00;
    
}
.flas>p{
    position: relative;
    top: 150px;
    left: 30px;
    font-size: 1rem;
    color: #ffffff00;
    
}
.img2 figure:hover .flas{
    background: linear-gradient(180deg, transparent 0% , black 100%);
    transition: all 1s linear;
}
.img2 figure:hover h3{
    color: #fff;
    transition: all 0.7s linear;
}
.img2 figure:hover p{
    color: #fff;
    transition: all 0.7s linear;
}
.padreimg2 img{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    transition: 0.5s linear;
}
.padreimg2 img:hover{
    transform: rotate(5deg);
}
.padreimg2 figure{
    width: 300px;
    height: 375px;
    background-color: rgb(132, 0, 255);
    border-radius: 10px;

}
.padreimg2 h2{
    color: aliceblue;
    position: relative;
    left: 100px;
    text-transform: capitalize;
}
.padreimg2 p{
    color: aliceblue;
    position: relative;
    left: 100px;
}
.padreimg2 h3{
    position: relative;
    left: 140px;
    top:10px;
    color: aliceblue;
}
.padreimg2 button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    left: 110px;
    background: linear-gradient(90deg ,blue 0% , rgb(132, 0, 255) 100%);
    animation: colo 5s linear infinite alternate;
    background-size: 400% 400%;
    transition: 0.5s linear;
}
@keyframes colo {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.padreimg3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    border-bottom: 3px solid #fff;
    position: relative;
    padding: 50px 0;
}

.img3 figure:hover .flas{
    background: linear-gradient(180deg, transparent 0% , black 100%);
    transition: all 1s linear;
}
.img3 figure:hover h3{
    color: #fff;
    transition: all 0.7s linear;
}
.img3 figure:hover p{
    color: #fff;
    transition: all 0.7s linear;
}
.padreimg3 img{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    transition: 0.5s linear;
}

.padreimg3 figure{
    width: 300px;
    height: 375px;
    background-color: rgb(132, 0, 255);
    border-radius: 10px;

}
.padreimg3 h2{
    color: aliceblue;
    position: relative;
    left: 100px;
    text-transform: capitalize;
}
.padreimg3 p{
    color: aliceblue;
    position: relative;
    left: 100px;
}
.padreimg3 h3{
    position: relative;
    left: 140px;
    top: 10px;
    color: aliceblue;
}
.padreimg3 button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    left: 110px;
    background: linear-gradient(90deg ,blue 0% , rgb(132, 0, 255) 100%);
    animation: colo 5s linear infinite alternate;
    background-size: 400% 400%;
    transition: 0.5s linear;
}
@keyframes colo {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.padreimg4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    border-bottom: 3px solid #fff;
    position: relative;
    padding: 50px 0;
}

.img4 figure:hover .flas{
    background: linear-gradient(180deg, transparent 0% , black 100%);
    transition: all 1s linear;
}
.img4 figure:hover h3{
    color: #fff;
    transition: all 0.7s linear;
}
.img4 figure:hover p{
    color: #fff;
    transition: all 0.7s linear;
}
.padreimg4 img{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    transition: 0.5s linear;
}

.padreimg4 figure{
    width: 300px;
    height: 375px;
    background-color: rgb(132, 0, 255);
    border-radius: 10px;

}
.padreimg4 h2{
    color: aliceblue;
    position: relative;
    left: 100px;
    text-transform: capitalize;
}
.padreimg4 p{
    color: aliceblue;
    position: relative;
    left: 100px;
}
.padreimg4 h3{
    position: relative;
    left: 140px;
    top: 10px;
    color: aliceblue;
}
.padreimg4 button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    left: 110px;
    background: linear-gradient(90deg ,blue 0% , rgb(132, 0, 255) 100%);
    animation: colo 5s linear infinite alternate;
    background-size: 400% 400%;
    transition: 0.5s linear;
}
@keyframes colo {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.padreimg5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    border-bottom: 3px solid #fff;
    position: relative;
    padding: 50px 0;
}

.img5 figure:hover .flas{
    background: linear-gradient(180deg, transparent 0% , black 100%);
    transition: all 1s linear;
}
.img5 figure:hover h3{
    color: #fff;
    transition: all 0.7s linear;
}
.img5 figure:hover p{
    color: #fff;
    transition: all 0.7s linear;
}
.padreimg5 img{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    transition: 0.5s linear;
}

.padreimg5 figure{
    width: 300px;
    height: 375px;
    background-color: rgb(132, 0, 255);
    border-radius: 10px;

}
.padreimg5 h2{
    color: aliceblue;
    position: relative;
    left: 100px;
    text-transform: capitalize;
}
.padreimg5 p{
    color: aliceblue;
    position: relative;
    left: 100px;
}
.padreimg5 h3{
    position: relative;
    left: 140px;
    top: 10px;
    color: aliceblue;
}
.padreimg5 button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    left: 110px;
    background: linear-gradient(90deg ,blue 0% , rgb(132, 0, 255) 100%);
    animation: colo 5s linear infinite alternate;
    background-size: 400% 400%;
    transition: 0.5s linear;
}
@keyframes colo {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.com{
    transition: 0.3s linear;
    font-style: italic;
    padding: 16px 20px;
    color: #fff;
    text-decoration: none;
  
}
.com:hover{
    font-size: 25px;
}
button{
    box-shadow: 0 0 20px blueviolet;
    border-color: transparent;
}
button:active{
    transform: translateY(20px);
}
footer{
    background-color: rgb(29, 17, 17);
    position: relative;
    width: 100%;
    height: 200px;
}
footer p{
    color: #fff;
    font-size: 23px;
    text-align: justify;
}
@media (max-width:840px)  {
    .padreimg{
        gap: 5px;
    }
    .padreimg2{
        gap: 5px;
    }
    .padreimg3{
        gap: 5px;
    }
    .padreimg4{
        gap: 5px;
    }
    .padreimg5{
        gap: 5px;
    }
}
@media (min-width:1200px) and (max-width:1500px){
    .padreimg{
        gap: 300px;
    }
    .padreimg2{
        gap: 250px;
    }
    .padreimg3{
        gap: 250px;
    }
    .padreimg4{
        gap: 250px;
    }
    .padreimg5{
        gap: 250px;
    }
    .padreimg img{
        width: 350px;
    }
    .padreimg2 img{
        
        width: 350px;
    }
    .padreimg3 img{
       
        width: 350px;
    }
    .padreimg4 img{
        
        width: 350px;
    }
    .padreimg5 img{
        
        width: 350px;
    }
    .padreimg .flas{
        width: 120%;
    }
    .padreimg2 .flas{
        width: 120%;
    }
    .padreimg3 .flas{
        width: 120%;
    }
    .padreimg5 .flas{
        width: 120%;
    }
    .padreimg4 .flas{
        width: 120%;
    }
}
@media (max-width:428px){
    ol{
        left: 10%;
    }
    .padre div{
        border-color: transparent;
    }
}
.padre3{
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    left: 890px;
    bottom: 270px;
    box-shadow: 0 0 10px #fff;
}
.oscuro{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    z-index: 1;
    border-radius: 50%;
    margin-right: 5px;
}
.flas{
    position: relative;
    bottom: 410px;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, transparent 0% , rgba(0, 0, 0, 0) 100%);
    
    
}
.flas>h3{
    position: relative;
    top: 150px;
    left: 40px;
    font-size: 2em;
    color: #ffffff00;
    
}
.flas>p{
    position: relative;
    top: 150px;
    left: 30px;
    font-size: 1rem;
    color: #ffffff00;
    
}
.img6 figure:hover .flas{
    background: linear-gradient(180deg, transparent 0% , black 100%);
    transition: all 1s linear;
}
.img6 figure:hover h3{
    color: #fff;
    transition: all 0.7s linear;
}
.img6 figure:hover p{
    color: #fff;
    transition: all 0.7s linear;
}